Repository papillonads/papillonads: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --syntax=scss --fix, prettier --write "packages/components/src/**/**/*.scss"

.lintstagedrc:

{
  "packages/components/src/**/*.{js,jsx}": [
    "eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix",
    "prettier --write \"packages/components/src/**/**/*.{js,jsx}\"",
    "git add"
  ],
  "packages/components/src/**/*.scss": [
    "stylelint \"packages/components/src/**/**/*.scss\" --syntax=scss --fix",
    "prettier --write \"packages/components/src/**/**/*.scss\"",
    "git add"
  ]
}

npm update papillonads
  package-lock.json
  package.json
Due: none

npm update papillonads docs
  packages/docs/package-lock.json
Due: none

npm update papillonads styleguide
  packages/styleguide/package-lock.json
Due: none

setup eslint
  .eslintignore
  .eslintrc
Due: none

setup git
  .gitignore
Due: none

setup prettier
  .prettierignore
Due: none

setup stylelint
  .stylelintignore
  .stylelintrc
Due: none

update license
  LICENSE.md
Due: none

remove all .npmignore
  packages/components/.npmignore
  packages/css/.npmignore
  packages/library/.npmignore
Due: none

setup lerna
  lerna.json
Due: none

setup lintstaged
  .lintstagedrc
Due: none

setup jest
  jest.config.js
  jest.setup.js
Due: none

setup scripts and dependencies
  package-lock.json
  package.json
Due: none

replace update-packages with bumpstack
  bumpstack.sh
  update-packages.sh
Due: none

add atomic design logo
  .docs/image/atomic-design.jpg
Due: none

update readme
  README.md
Due: none

remove all package-lock
  package-lock.json
  packages/components/package-lock.json
Due: none

setup storybook
  .storybook/designSystemTheme.js
  .storybook/develop/webpack.config.js
  .storybook/main.js
  .storybook/manager.js
  .storybook/preview.js
  .storybook/release/webpack.config.js
  .storybook/webpack.config.js
Due: none

correct typo
  packages/components/src/concept/Concepts/Concepts.part.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

update components scripts and dependencies
  packages/components/package.json
Due: none

add components .npmignore
  packages/components/.npmignore
Due: none

add primer Alert
  packages/components/src/primer/Alert/Alert.jsx
  packages/components/src/primer/Alert/Alert.md
  packages/components/src/primer/Alert/Alert.prop.js
  packages/components/src/primer/Alert/Alert.scss
  packages/components/src/primer/Alert/__tests__/Alert.int.story.js
  packages/components/src/primer/Alert/__tests__/Alert.int.test.js
  packages/components/src/primer/Alert/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --syntax=scss --fix, prettier --write "packages/components/src/**/**/*.scss"

update primer Blankslate
  packages/components/src/primer/Blankslate/Blankslate.md
  packages/components/src/primer/Blankslate/__tests__/Blankslate.int.render.js
  packages/components/src/primer/Blankslate/__tests__/Blankslate.int.story.js
  packages/components/src/primer/Blankslate/__tests__/Blankslate.int.test.js
  packages/components/src/primer/Blankslate/__tests__/__snapshots__/Blankslate.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

update primer Box
  packages/components/src/primer/Box/box.scss
Due: stylelint "packages/components/src/**/**/*.scss" --syntax=scss --fix, prettier --write "packages/components/src/**/**/*.scss"

update primer BranchName
  packages/components/src/primer/BranchName/branch-name.scss
Due: stylelint "packages/components/src/**/**/*.scss" --syntax=scss --fix, prettier --write "packages/components/src/**/**/*.scss"

update primer Breadcrumb
  packages/components/src/primer/Breadcrumb/Breadcrumb.jsx
  packages/components/src/primer/Breadcrumb/Breadcrumb.md
  packages/components/src/primer/Breadcrumb/Breadcrumb.prop.js
  packages/components/src/primer/Breadcrumb/Breadcrumb.scss
  packages/components/src/primer/Breadcrumb/__tests__/Breadcrumb.int.render.js
  packages/components/src/primer/Breadcrumb/__tests__/Breadcrumb.int.story.js
  packages/components/src/primer/Breadcrumb/__tests__/Breadcrumb.int.test.js
  packages/components/src/primer/Breadcrumb/__tests__/__snapshots__/Breadcrumb.int.test.js.snap
  packages/components/src/primer/Breadcrumb/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --syntax=scss --fix, prettier --write "packages/components/src/**/**/*.scss"

update primer Button
  packages/components/src/primer/Button/Button.jsx
  packages/components/src/primer/Button/Button.md
  packages/components/src/primer/Button/Button.prop.js
  packages/components/src/primer/Button/Button.scss
  packages/components/src/primer/Button/__tests__/Button.int.render.js
  packages/components/src/primer/Button/__tests__/Button.int.story.js
  packages/components/src/primer/Button/__tests__/Button.int.test.js
  packages/components/src/primer/Button/__tests__/__snapshots__/Button.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --syntax=scss --fix, prettier --write "packages/components/src/**/**/*.scss"

update primer Dropdown
  packages/components/src/primer/Dropdown/Dropdown.jsx
  packages/components/src/primer/Dropdown/Dropdown.md
  packages/components/src/primer/Dropdown/Dropdown.prop.js
  packages/components/src/primer/Dropdown/Dropdown.scss
  packages/components/src/primer/Dropdown/__tests__/Dropdown.int.render.js
  packages/components/src/primer/Dropdown/__tests__/Dropdown.int.story.js
  packages/components/src/primer/Dropdown/__tests__/Dropdown.int.test.js
  packages/components/src/primer/Dropdown/__tests__/__snapshots__/Dropdown.int.test.js.snap
  packages/components/src/primer/Dropdown/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --syntax=scss --fix, prettier --write "packages/components/src/**/**/*.scss"

update primer Form Checkbox
  packages/components/src/primer/Form/Checkbox/Checkbox.jsx
  packages/components/src/primer/Form/Checkbox/Checkbox.md
  packages/components/src/primer/Form/Checkbox/Checkbox.prop.js
  packages/components/src/primer/Form/Checkbox/Checkbox.scss
  packages/components/src/primer/Form/Checkbox/__tests__/Checkbox.int.render.js
  packages/components/src/primer/Form/Checkbox/__tests__/Checkbox.int.story.js
  packages/components/src/primer/Form/Checkbox/__tests__/Checkbox.int.test.js
  packages/components/src/primer/Form/Checkbox/__tests__/__snapshots__/Checkbox.int.test.js.snap
  packages/components/src/primer/Form/Checkbox/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --syntax=scss --fix, prettier --write "packages/components/src/**/**/*.scss"

update primer Form Input
  packages/components/src/primer/Form/Input/Input.jsx
  packages/components/src/primer/Form/Input/Input.md
  packages/components/src/primer/Form/Input/Input.prop.js
  packages/components/src/primer/Form/Input/Input.scss
  packages/components/src/primer/Form/Input/__tests__/Input.int.render.js
  packages/components/src/primer/Form/Input/__tests__/Input.int.story.js
  packages/components/src/primer/Form/Input/__tests__/Input.int.test.js
  packages/components/src/primer/Form/Input/__tests__/__snapshots__/Input.int.test.js.snap
  packages/components/src/primer/Form/Input/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --syntax=scss --fix, prettier --write "packages/components/src/**/**/*.scss"

update primer Form Radio
  packages/components/src/primer/Form/Radio/Radio.jsx
  packages/components/src/primer/Form/Radio/Radio.md
  packages/components/src/primer/Form/Radio/Radio.prop.js
  packages/components/src/primer/Form/Radio/Radio.scss
  packages/components/src/primer/Form/Radio/__tests__/Radio.int.render.js
  packages/components/src/primer/Form/Radio/__tests__/Radio.int.story.js
  packages/components/src/primer/Form/Radio/__tests__/Radio.int.test.js
  packages/components/src/primer/Form/Radio/__tests__/__snapshots__/Radio.int.test.js.snap
  packages/components/src/primer/Form/Radio/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --syntax=scss --fix, prettier --write "packages/components/src/**/**/*.scss"

extend primer Form styles
  packages/components/src/primer/Form/form-control.scss
  packages/components/src/primer/Form/form-group.scss
  packages/components/src/primer/Form/form-validation.scss
  packages/components/src/primer/Form/index.js
  packages/components/src/primer/Form/radio-group.scss
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --syntax=scss --fix, prettier --write "packages/components/src/**/**/*.scss"

add primer ErrorBoundary
  packages/components/src/primer/ErrorBoundary/ErrorBoundary.jsx
  packages/components/src/primer/ErrorBoundary/ErrorBoundary.prop.js
  packages/components/src/primer/ErrorBoundary/__tests__/ErrorBoundary.int.story.js
  packages/components/src/primer/ErrorBoundary/__tests__/ErrorBoundary.int.test.js
  packages/components/src/primer/ErrorBoundary/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

update primer Grid DisplayGrid
  packages/components/src/primer/Grid/DisplayTable/DisplayTable.jsx
  packages/components/src/primer/Grid/DisplayTable/DisplayTable.md
  packages/components/src/primer/Grid/DisplayTable/DisplayTable.prop.js
  packages/components/src/primer/Grid/DisplayTable/__tests__/DisplayTable.int.data.js
  packages/components/src/primer/Grid/DisplayTable/__tests__/DisplayTable.int.render.js
  packages/components/src/primer/Grid/DisplayTable/__tests__/DisplayTable.int.story.js
  packages/components/src/primer/Grid/DisplayTable/__tests__/DisplayTable.int.test.js
  packages/components/src/primer/Grid/DisplayTable/__tests__/__snapshots__/DisplayTable.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

update primer Grid FlexGrid
  packages/components/src/primer/Grid/FlexGrid/FlexGrid.jsx
  packages/components/src/primer/Grid/FlexGrid/FlexGrid.md
  packages/components/src/primer/Grid/FlexGrid/FlexGrid.prop.js
  packages/components/src/primer/Grid/FlexGrid/FlexGrid.scss
  packages/components/src/primer/Grid/FlexGrid/__tests__/FlexGrid.int.data.js
  packages/components/src/primer/Grid/FlexGrid/__tests__/FlexGrid.int.render.js
  packages/components/src/primer/Grid/FlexGrid/__tests__/FlexGrid.int.story.js
  packages/components/src/primer/Grid/FlexGrid/__tests__/FlexGrid.int.test.js
  packages/components/src/primer/Grid/FlexGrid/__tests__/__snapshots__/FlexGrid.int.test.js.snap
  packages/components/src/primer/Grid/FlexGrid/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --syntax=scss --fix, prettier --write "packages/components/src/**/**/*.scss"

extend primer Grid exports
  packages/components/src/primer/Grid/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

update primer Icon
  packages/components/src/primer/Icon/Icon.jsx
  packages/components/src/primer/Icon/Icon.md
  packages/components/src/primer/Icon/Icon.part.js
  packages/components/src/primer/Icon/Icon.prop.js
  packages/components/src/primer/Icon/__tests__/Icon.int.render.js
  packages/components/src/primer/Icon/__tests__/Icon.int.story.js
  packages/components/src/primer/Icon/__tests__/Icon.int.test.js
  packages/components/src/primer/Icon/__tests__/__snapshots__/Icon.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"
