Repository papillonads/papillonads: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --syntax=scss --fix, prettier --write "packages/components/src/**/**/*.scss"

update primer Label
  packages/components/src/primer/Label/Label.md
  packages/components/src/primer/Label/Label.prop.js
  packages/components/src/primer/Label/__tests__/Label.int.render.js
  packages/components/src/primer/Label/__tests__/Label.int.story.js
  packages/components/src/primer/Label/__tests__/Label.int.test.js
  packages/components/src/primer/Label/__tests__/__snapshots__/Label.int.test.js.snap
  packages/components/src/primer/Label/counters.scss
  packages/components/src/primer/Label/issue-labels.scss
  packages/components/src/primer/Label/labels.scss
  packages/components/src/primer/Label/mixins.scss
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --syntax=scss --fix, prettier --write "packages/components/src/**/**/*.scss"

update primer Layout styles
  packages/components/src/primer/Layout/grid-offset.scss
  packages/components/src/primer/Layout/grid.scss
Due: stylelint "packages/components/src/**/**/*.scss" --syntax=scss --fix, prettier --write "packages/components/src/**/**/*.scss"

update primer Loader
  packages/components/src/primer/Loader/Loader.md
  packages/components/src/primer/Loader/__tests__/Loader.int.render.js
  packages/components/src/primer/Loader/__tests__/Loader.int.story.js
  packages/components/src/primer/Loader/__tests__/Loader.int.test.js
  packages/components/src/primer/Loader/__tests__/__snapshots__/Loader.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

update primer Navigation Menu
  packages/components/src/primer/Navigation/Menu/Menu.jsx
  packages/components/src/primer/Navigation/Menu/Menu.md
  packages/components/src/primer/Navigation/Menu/__tests__/Menu.int.render.js
  packages/components/src/primer/Navigation/Menu/__tests__/Menu.int.story.js
  packages/components/src/primer/Navigation/Menu/__tests__/Menu.int.test.js
  packages/components/src/primer/Navigation/Menu/__tests__/__snapshots__/Menu.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

update primer Navigation TabNav
  packages/components/src/primer/Navigation/TabNav/TabNav.jsx
  packages/components/src/primer/Navigation/TabNav/TabNav.md
  packages/components/src/primer/Navigation/TabNav/TabNav.prop.js
  packages/components/src/primer/Navigation/TabNav/TabNav.scss
  packages/components/src/primer/Navigation/TabNav/__tests__/TabNav.int.render.js
  packages/components/src/primer/Navigation/TabNav/__tests__/TabNav.int.story.js
  packages/components/src/primer/Navigation/TabNav/__tests__/TabNav.int.test.js
  packages/components/src/primer/Navigation/TabNav/__tests__/__snapshots__/TabNav.int.test.js.snap
  packages/components/src/primer/Navigation/TabNav/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --syntax=scss --fix, prettier --write "packages/components/src/**/**/*.scss"

update primer Navigation UnderlineNav
  packages/components/src/primer/Navigation/UnderlineNav/UnderlineNav.jsx
  packages/components/src/primer/Navigation/UnderlineNav/UnderlineNav.md
  packages/components/src/primer/Navigation/UnderlineNav/UnderlineNav.scss
  packages/components/src/primer/Navigation/UnderlineNav/__tests__/UnderlineNav.int.render.js
  packages/components/src/primer/Navigation/UnderlineNav/__tests__/UnderlineNav.int.story.js
  packages/components/src/primer/Navigation/UnderlineNav/__tests__/UnderlineNav.int.test.js
  packages/components/src/primer/Navigation/UnderlineNav/__tests__/__snapshots__/UnderlineNav.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --syntax=scss --fix, prettier --write "packages/components/src/**/**/*.scss"

extend primer Navigation exports
  packages/components/src/primer/Navigation/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

update primer Pagination PreviousNext
  packages/components/src/primer/Pagination/PreviousNext/PreviousNext.jsx
  packages/components/src/primer/Pagination/PreviousNext/PreviousNext.md
  packages/components/src/primer/Pagination/PreviousNext/PreviousNext.prop.js
  packages/components/src/primer/Pagination/PreviousNext/PreviousNext.scss
  packages/components/src/primer/Pagination/PreviousNext/__tests__/PreviousNext.int.render.js
  packages/components/src/primer/Pagination/PreviousNext/__tests__/PreviousNext.int.story.js
  packages/components/src/primer/Pagination/PreviousNext/__tests__/PreviousNext.int.test.js
  packages/components/src/primer/Pagination/PreviousNext/__tests__/__snapshots__/PreviousNext.int.test.js.snap
  packages/components/src/primer/Pagination/PreviousNext/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --syntax=scss --fix, prettier --write "packages/components/src/**/**/*.scss"

extend primer Pagination exports
  packages/components/src/primer/Pagination/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

update primer Popover
  packages/components/src/primer/Popover/Popover.md
  packages/components/src/primer/Popover/Popover.prop.js
  packages/components/src/primer/Popover/Popover.scss
  packages/components/src/primer/Popover/__tests__/Popover.int.render.js
  packages/components/src/primer/Popover/__tests__/Popover.int.story.js
  packages/components/src/primer/Popover/__tests__/Popover.int.test.js
  packages/components/src/primer/Popover/__tests__/__snapshots__/Popover.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --syntax=scss --fix, prettier --write "packages/components/src/**/**/*.scss"

update primer Progress
  packages/components/src/primer/Progress/Progress.md
  packages/components/src/primer/Progress/Progress.scss
  packages/components/src/primer/Progress/__tests__/Progress.int.render.js
  packages/components/src/primer/Progress/__tests__/Progress.int.story.js
  packages/components/src/primer/Progress/__tests__/Progress.int.test.js
  packages/components/src/primer/Progress/__tests__/__snapshots__/Progress.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --syntax=scss --fix, prettier --write "packages/components/src/**/**/*.scss"

update primer SelectMenu
  packages/components/src/primer/SelectMenu/SelectMenu.jsx
  packages/components/src/primer/SelectMenu/SelectMenu.md
  packages/components/src/primer/SelectMenu/SelectMenu.scss
  packages/components/src/primer/SelectMenu/__tests__/SelectMenu.int.render.js
  packages/components/src/primer/SelectMenu/__tests__/SelectMenu.int.story.js
  packages/components/src/primer/SelectMenu/__tests__/SelectMenu.int.test.js
  packages/components/src/primer/SelectMenu/__tests__/__snapshots__/SelectMenu.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --syntax=scss --fix, prettier --write "packages/components/src/**/**/*.scss"

update primer Subhead
  packages/components/src/primer/Subhead/Subhead.md
  packages/components/src/primer/Subhead/Subhead.prop.js
  packages/components/src/primer/Subhead/__tests__/Subhead.int.render.js
  packages/components/src/primer/Subhead/__tests__/Subhead.int.story.js
  packages/components/src/primer/Subhead/__tests__/Subhead.int.test.js
  packages/components/src/primer/Subhead/__tests__/__snapshots__/Subhead.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

update primer SVG
  packages/components/src/primer/SVG/icon/arrow-switch-16.svg
  packages/components/src/primer/SVG/icon/arrow-switch-24.svg
  packages/components/src/primer/SVG/icon/bug-16.svg
  packages/components/src/primer/SVG/icon/bug-24.svg
  packages/components/src/primer/SVG/icon/circle-16.svg
  packages/components/src/primer/SVG/icon/container-16.svg
  packages/components/src/primer/SVG/icon/container-24.svg
  packages/components/src/primer/SVG/icon/dash-16.svg
  packages/components/src/primer/SVG/icon/desktop-download-16.svg
  packages/components/src/primer/SVG/icon/eye-closed-24.svg
  packages/components/src/primer/SVG/icon/file-badge-16.svg
  packages/components/src/primer/SVG/icon/file-symlink-file-24.svg
  packages/components/src/primer/SVG/icon/flame-24.svg
  packages/components/src/primer/SVG/icon/fold-16.svg
  packages/components/src/primer/SVG/icon/fold-down-16.svg
  packages/components/src/primer/SVG/icon/fold-up-16.svg
  packages/components/src/primer/SVG/icon/index.js
  packages/components/src/primer/SVG/icon/multi-select-16.svg
  packages/components/src/primer/SVG/icon/multi-select-24.svg
  packages/components/src/primer/SVG/icon/number-16.svg
  packages/components/src/primer/SVG/icon/number-24.svg
  packages/components/src/primer/SVG/icon/plus-16.svg
  packages/components/src/primer/SVG/icon/smiley-24.svg
  packages/components/src/primer/SVG/icon/squirrel-24.svg
  packages/components/src/primer/SVG/icon/strikethrough-16.svg
  packages/components/src/primer/SVG/icon/strikethrough-24.svg
  packages/components/src/primer/SVG/icon/trash-16.svg
  packages/components/src/primer/SVG/icon/triangle-down-16.svg
  packages/components/src/primer/SVG/icon/unfold-16.svg
  packages/components/src/primer/SVG/icon/unverified-24.svg
  packages/components/src/primer/SVG/icon/video-16.svg
  packages/components/src/primer/SVG/icon/video-24.svg
  packages/components/src/primer/SVG/icon/x-circle-16.svg
  packages/components/src/primer/SVG/icon/x-circle-fill-16.svg
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

update primer Toast
  packages/components/src/primer/Toast/Toast.md
  packages/components/src/primer/Toast/Toast.prop.js
  packages/components/src/primer/Toast/Toast.scss
  packages/components/src/primer/Toast/__tests__/Toast.int.render.js
  packages/components/src/primer/Toast/__tests__/Toast.int.story.js
  packages/components/src/primer/Toast/__tests__/Toast.int.test.js
  packages/components/src/primer/Toast/__tests__/__snapshots__/Toast.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --syntax=scss --fix, prettier --write "packages/components/src/**/**/*.scss"

extend primer index
  packages/components/src/primer/index.js
  packages/components/src/primer/index.scss
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --syntax=scss --fix, prettier --write "packages/components/src/**/**/*.scss"

remove docs snapshots
  packages/docs/src/pattern/atom/ErrorBoundary/__tests__/__snapshots__/ErrorBoundary.int.test.js.snap
  packages/docs/src/pattern/atom/NoMatch/__tests__/__snapshots__/NoMatch.int.test.js.snap
  packages/docs/src/pattern/atom/UnderConstruction/__tests__/__snapshots__/UnderConstruction.int.test.js.snap
  packages/docs/src/pattern/page/NotFoundPage/__tests__/__snapshots__/NotFoundPage.int.test.js.snap
Due: none

remove styleguide snapshots
  packages/styleguide/src/pattern/atom/ErrorBoundary/__tests__/__snapshots__/ErrorBoundary.int.test.js.snap
  packages/styleguide/src/pattern/atom/NoMatch/__tests__/__snapshots__/NoMatch.int.test.js.snap
  packages/styleguide/src/pattern/atom/UnderConstruction/__tests__/__snapshots__/UnderConstruction.int.test.js.snap
  packages/styleguide/src/pattern/page/NotFoundPage/__tests__/__snapshots__/NotFoundPage.int.test.js.snap
Due: none

update primer Concept Accessibility
  packages/components/src/primer/Concept/Accesibility/Accesibility.md
  packages/components/src/primer/Concept/Accesibility/__tests__/Accesibility.int.render.js
  packages/components/src/primer/Concept/Accesibility/__tests__/Accesibility.int.story.js
  packages/components/src/primer/Concept/Accesibility/__tests__/Accesibility.int.test.js
  packages/components/src/primer/Concept/Accesibility/__tests__/__snapshots__/Accesibility.int.test.js.snap
  packages/components/src/primer/Concept/Accesibility/index.js
  packages/components/src/primer/Concept/Accessibility/Accessibility.jsx
  packages/components/src/primer/Concept/Accessibility/Accessibility.md
  packages/components/src/primer/Concept/Accessibility/Accessibility.prop.js
  packages/components/src/primer/Concept/Accessibility/__tests__/Accessibility.int.story.js
  packages/components/src/primer/Concept/Accessibility/__tests__/Accessibility.int.test.js
  packages/components/src/primer/Concept/Accessibility/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

update primer Concept ApplicationArchitecture
  packages/components/src/primer/Concept/ApplicationArchitecture/ApplicationArchitecture.md
  packages/components/src/primer/Concept/ApplicationArchitecture/__tests__/ApplicationArchitecture.int.render.js
  packages/components/src/primer/Concept/ApplicationArchitecture/__tests__/ApplicationArchitecture.int.story.js
  packages/components/src/primer/Concept/ApplicationArchitecture/__tests__/ApplicationArchitecture.int.test.js
  packages/components/src/primer/Concept/ApplicationArchitecture/__tests__/__snapshots__/ApplicationArchitecture.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

update primer Concept Bootstrap
  packages/components/src/primer/Concept/Bootstrap/Bootstrap.md
  packages/components/src/primer/Concept/Bootstrap/__tests__/Bootstrap.int.render.js
  packages/components/src/primer/Concept/Bootstrap/__tests__/Bootstrap.int.story.js
  packages/components/src/primer/Concept/Bootstrap/__tests__/Bootstrap.int.test.js
  packages/components/src/primer/Concept/Bootstrap/__tests__/__snapshots__/Bootstrap.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

update primer Concept CodeStyle
  packages/components/src/primer/Concept/CodeStyle/CodeStyle.md
  packages/components/src/primer/Concept/CodeStyle/__tests__/CodeStyle.int.render.js
  packages/components/src/primer/Concept/CodeStyle/__tests__/CodeStyle.int.story.js
  packages/components/src/primer/Concept/CodeStyle/__tests__/CodeStyle.int.test.js
  packages/components/src/primer/Concept/CodeStyle/__tests__/__snapshots__/CodeStyle.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

update primer Concept Compiling
  packages/components/src/primer/Concept/Compiling/Compiling.jsx
  packages/components/src/primer/Concept/Compiling/Compiling.md
  packages/components/src/primer/Concept/Compiling/__tests__/Compiling.int.render.js
  packages/components/src/primer/Concept/Compiling/__tests__/Compiling.int.story.js
  packages/components/src/primer/Concept/Compiling/__tests__/Compiling.int.test.js
  packages/components/src/primer/Concept/Compiling/__tests__/__snapshots__/Compiling.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

update primer Concept ComponentDesign
  packages/components/src/primer/Concept/ComponentDesign/ComponentDesign.jsx
  packages/components/src/primer/Concept/ComponentDesign/ComponentDesign.md
  packages/components/src/primer/Concept/ComponentDesign/__tests__/ComponentDesign.int.render.js
  packages/components/src/primer/Concept/ComponentDesign/__tests__/ComponentDesign.int.story.js
  packages/components/src/primer/Concept/ComponentDesign/__tests__/ComponentDesign.int.test.js
  packages/components/src/primer/Concept/ComponentDesign/__tests__/__snapshots__/ComponentDesign.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

update primer Concept ComponentDrivenDevelopment
  packages/components/src/primer/Concept/ComponentDrivenDevelopment/ComponentDrivenDevelopment.md
  packages/components/src/primer/Concept/ComponentDrivenDevelopment/__tests__/ComponentDrivenDevelopment.int.render.js
  packages/components/src/primer/Concept/ComponentDrivenDevelopment/__tests__/ComponentDrivenDevelopment.int.story.js
  packages/components/src/primer/Concept/ComponentDrivenDevelopment/__tests__/ComponentDrivenDevelopment.int.test.js
  packages/components/src/primer/Concept/ComponentDrivenDevelopment/__tests__/__snapshots__/ComponentDrivenDevelopment.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

update primer Concept ContinuousDelivery
  packages/components/src/primer/Concept/ContinuousDelivery/ContinuousDelivery.md
  packages/components/src/primer/Concept/ContinuousDelivery/__tests__/ContinuousDelivery.int.render.js
  packages/components/src/primer/Concept/ContinuousDelivery/__tests__/ContinuousDelivery.int.story.js
  packages/components/src/primer/Concept/ContinuousDelivery/__tests__/ContinuousDelivery.int.test.js
  packages/components/src/primer/Concept/ContinuousDelivery/__tests__/__snapshots__/ContinuousDelivery.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

update primer Concept ContinuousIntegration
  packages/components/src/primer/Concept/ContinuousIntegration/ContinuousIntegration.jsx
  packages/components/src/primer/Concept/ContinuousIntegration/ContinuousIntegration.md
  packages/components/src/primer/Concept/ContinuousIntegration/__tests__/ContinuousIntegration.int.render.js
  packages/components/src/primer/Concept/ContinuousIntegration/__tests__/ContinuousIntegration.int.story.js
  packages/components/src/primer/Concept/ContinuousIntegration/__tests__/ContinuousIntegration.int.test.js
  packages/components/src/primer/Concept/ContinuousIntegration/__tests__/__snapshots__/ContinuousIntegration.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

update primer Concept CrossBrowserCompatibility
  packages/components/src/primer/Concept/CrossBrowserCompatibility/CrossBrowserCompatibility.md
  packages/components/src/primer/Concept/CrossBrowserCompatibility/__tests__/CrossBrowserCompatibility.int.render.js
  packages/components/src/primer/Concept/CrossBrowserCompatibility/__tests__/CrossBrowserCompatibility.int.story.js
  packages/components/src/primer/Concept/CrossBrowserCompatibility/__tests__/CrossBrowserCompatibility.int.test.js
  packages/components/src/primer/Concept/CrossBrowserCompatibility/__tests__/__snapshots__/CrossBrowserCompatibility.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

update primer Concept CSSArchitecture
  packages/components/src/primer/Concept/CSSArchitecture/CSSArchitecture.md
  packages/components/src/primer/Concept/CSSArchitecture/__tests__/CSSArchitecture.int.render.js
  packages/components/src/primer/Concept/CSSArchitecture/__tests__/CSSArchitecture.int.story.js
  packages/components/src/primer/Concept/CSSArchitecture/__tests__/CSSArchitecture.int.test.js
  packages/components/src/primer/Concept/CSSArchitecture/__tests__/__snapshots__/CSSArchitecture.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

update primer Concept Language
  packages/components/src/primer/Concept/Language/Language.md
  packages/components/src/primer/Concept/Language/__tests__/Language.int.render.js
  packages/components/src/primer/Concept/Language/__tests__/Language.int.story.js
  packages/components/src/primer/Concept/Language/__tests__/Language.int.test.js
  packages/components/src/primer/Concept/Language/__tests__/__snapshots__/Language.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

update primer Concept LocalDevelopment
  packages/components/src/primer/Concept/LocalDevelopment/LocalDevelopment.md
  packages/components/src/primer/Concept/LocalDevelopment/__tests__/LocalDevelopment.int.render.js
  packages/components/src/primer/Concept/LocalDevelopment/__tests__/LocalDevelopment.int.story.js
  packages/components/src/primer/Concept/LocalDevelopment/__tests__/LocalDevelopment.int.test.js
  packages/components/src/primer/Concept/LocalDevelopment/__tests__/__snapshots__/LocalDevelopment.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

update primer Concept Microsite
  packages/components/src/primer/Concept/Microsite/Microsite.md
  packages/components/src/primer/Concept/Microsite/__tests__/Microsite.int.render.js
  packages/components/src/primer/Concept/Microsite/__tests__/Microsite.int.story.js
  packages/components/src/primer/Concept/Microsite/__tests__/Microsite.int.test.js
  packages/components/src/primer/Concept/Microsite/__tests__/__snapshots__/Microsite.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

update primer Concept Monorepo
  packages/components/src/primer/Concept/Monorepo/Monorepo.md
  packages/components/src/primer/Concept/Monorepo/__tests__/Monorepo.int.render.js
  packages/components/src/primer/Concept/Monorepo/__tests__/Monorepo.int.story.js
  packages/components/src/primer/Concept/Monorepo/__tests__/Monorepo.int.test.js
  packages/components/src/primer/Concept/Monorepo/__tests__/__snapshots__/Monorepo.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

update primer Concept Rendering
  packages/components/src/primer/Concept/Rendering/Rendering.md
  packages/components/src/primer/Concept/Rendering/__tests__/Rendering.int.render.js
  packages/components/src/primer/Concept/Rendering/__tests__/Rendering.int.story.js
  packages/components/src/primer/Concept/Rendering/__tests__/Rendering.int.test.js
  packages/components/src/primer/Concept/Rendering/__tests__/__snapshots__/Rendering.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

update primer Concept Routing
  packages/components/src/primer/Concept/Routing/Routing.md
  packages/components/src/primer/Concept/Routing/__tests__/Routing.int.render.js
  packages/components/src/primer/Concept/Routing/__tests__/Routing.int.story.js
  packages/components/src/primer/Concept/Routing/__tests__/Routing.int.test.js
  packages/components/src/primer/Concept/Routing/__tests__/__snapshots__/Routing.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

update primer Concept Runtime
  packages/components/src/primer/Concept/Runtime/Runtime.md
  packages/components/src/primer/Concept/Runtime/__tests__/Runtime.int.render.js
  packages/components/src/primer/Concept/Runtime/__tests__/Runtime.int.story.js
  packages/components/src/primer/Concept/Runtime/__tests__/Runtime.int.test.js
  packages/components/src/primer/Concept/Runtime/__tests__/__snapshots__/Runtime.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

update primer Concept Testing
  packages/components/src/primer/Concept/Testing/Testing.md
  packages/components/src/primer/Concept/Testing/__tests__/Testing.int.render.js
  packages/components/src/primer/Concept/Testing/__tests__/Testing.int.story.js
  packages/components/src/primer/Concept/Testing/__tests__/Testing.int.test.js
  packages/components/src/primer/Concept/Testing/__tests__/__snapshots__/Testing.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

update primer Concept VersionControl
  packages/components/src/primer/Concept/VersionControl/VersionControl.md
  packages/components/src/primer/Concept/VersionControl/__tests__/VersionControl.int.render.js
  packages/components/src/primer/Concept/VersionControl/__tests__/VersionControl.int.story.js
  packages/components/src/primer/Concept/VersionControl/__tests__/VersionControl.int.test.js
  packages/components/src/primer/Concept/VersionControl/__tests__/__snapshots__/VersionControl.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

correct typo
  packages/components/src/primer/Concept/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

update components readme
  packages/components/README.md
Due: none

Path conditions:
  eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix: any of: packages/components/src/**/*.{js,jsx}
  prettier --write "packages/components/src/**/**/*.{js,jsx}": any of: packages/components/src/**/*.{js,jsx}
  stylelint "packages/components/src/**/**/*.scss" --syntax=scss --fix: any of: packages/components/src/**/*.scss
  prettier --write "packages/components/src/**/**/*.scss": any of: packages/components/src/**/*.scss
