Repository papillonads/papillonads: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --syntax=scss --fix, prettier --write "packages/components/src/**/**/*.scss"

setup library babel
  packages/library/.babelrc
Due: none

add library a11y
  packages/library/src/a11y/check.js
  packages/library/src/a11y/index.js
Due: none

add library array
  packages/library/src/array/index.js
  packages/library/src/array/item.js
  packages/library/src/array/paginate.js
  packages/library/src/array/random.js
  packages/library/src/array/range.js
Due: none

add library boolean
  packages/library/src/boolean/index.js
  packages/library/src/boolean/random.js
Due: none

add library browser
  packages/library/src/browser/index.js
  packages/library/src/browser/isBrowser.js
Due: none

add library date
  packages/library/src/date/index.js
  packages/library/src/date/locale.js
  packages/library/src/date/random.js
Due: none

add library environment
  packages/library/src/environment/api.js
  packages/library/src/environment/host.js
  packages/library/src/environment/index.js
Due: none

add library event
  packages/library/src/event/index.js
  packages/library/src/event/throttle.js
Due: none

add library hooks
  packages/library/src/hooks/index.js
  packages/library/src/hooks/react.js
Due: none

add library number
  packages/library/src/number/index.js
  packages/library/src/number/random.js
Due: none

add library object
  packages/library/src/object/clone.js
  packages/library/src/object/index.js
Due: none

add library pagination
  packages/library/src/pagination/index.js
Due: none

add library sort
  packages/library/src/sort/index.js
Due: none

add library store
  packages/library/src/store/index.js
  packages/library/src/store/mock/__tests__/index.test.js
  packages/library/src/store/mock/index.js
Due: none

add library string
  packages/library/src/string/case.js
  packages/library/src/string/index.js
  packages/library/src/string/random.js
Due: none

add library index
  packages/library/src/index.js
Due: none

add components readme
  packages/components/README.md
Due: none

setup components scripts and dependencies
  packages/components/package-lock.json
  packages/components/package.json
Due: none

setup scripts npmignore
  packages/components/.npmignore
Due: none

setup scripts babel
  packages/components/.babelrc
Due: none

git ignore components npmrc
  .gitignore
Due: none

add components concept concepts
  packages/components/src/concept/Concepts/Concepts.jsx
  packages/components/src/concept/Concepts/Concepts.md
  packages/components/src/concept/Concepts/Concepts.part.js
  packages/components/src/concept/Concepts/__tests__/Concepts.int.render.js
  packages/components/src/concept/Concepts/__tests__/Concepts.int.story.js
  packages/components/src/concept/Concepts/__tests__/Concepts.int.test.skip.js
  packages/components/src/concept/Concepts/index.js
  packages/components/src/concept/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

add components primer blankslate
  packages/components/src/primer/Blankslate/Blankslate.jsx
  packages/components/src/primer/Blankslate/Blankslate.md
  packages/components/src/primer/Blankslate/Blankslate.prop.js
  packages/components/src/primer/Blankslate/Blankslate.scss
  packages/components/src/primer/Blankslate/__tests__/Blankslate.int.render.js
  packages/components/src/primer/Blankslate/__tests__/Blankslate.int.story.js
  packages/components/src/primer/Blankslate/__tests__/Blankslate.int.test.js
  packages/components/src/primer/Blankslate/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --syntax=scss --fix, prettier --write "packages/components/src/**/**/*.scss"

add components primer box
  packages/components/src/primer/Box/box.scss
Due: stylelint "packages/components/src/**/**/*.scss" --syntax=scss --fix, prettier --write "packages/components/src/**/**/*.scss"

add components primer branch name
  packages/components/src/primer/BranchName/branch-name.scss
Due: stylelint "packages/components/src/**/**/*.scss" --syntax=scss --fix, prettier --write "packages/components/src/**/**/*.scss"

add components primer breadcrumb
  packages/components/src/primer/Breadcrumb/Breadcrumb.jsx
  packages/components/src/primer/Breadcrumb/Breadcrumb.md
  packages/components/src/primer/Breadcrumb/Breadcrumb.prop.js
  packages/components/src/primer/Breadcrumb/Breadcrumb.scss
  packages/components/src/primer/Breadcrumb/__tests__/Breadcrumb.int.render.js
  packages/components/src/primer/Breadcrumb/__tests__/Breadcrumb.int.story.js
  packages/components/src/primer/Breadcrumb/__tests__/Breadcrumb.int.test.js
  packages/components/src/primer/Breadcrumb/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --syntax=scss --fix, prettier --write "packages/components/src/**/**/*.scss"

add components primer button
  packages/components/src/primer/Button/Button.jsx
  packages/components/src/primer/Button/Button.md
  packages/components/src/primer/Button/Button.prop.js
  packages/components/src/primer/Button/Button.scss
  packages/components/src/primer/Button/__tests__/Button.int.render.js
  packages/components/src/primer/Button/__tests__/Button.int.story.js
  packages/components/src/primer/Button/__tests__/Button.int.test.js
  packages/components/src/primer/Button/index.js
  packages/components/src/primer/Button/misc.scss
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --syntax=scss --fix, prettier --write "packages/components/src/**/**/*.scss"

add components primer dropdown
  packages/components/src/primer/Dropdown/Dropdown.jsx
  packages/components/src/primer/Dropdown/Dropdown.md
  packages/components/src/primer/Dropdown/Dropdown.prop.js
  packages/components/src/primer/Dropdown/Dropdown.scss
  packages/components/src/primer/Dropdown/__tests__/Dropdown.int.render.js
  packages/components/src/primer/Dropdown/__tests__/Dropdown.int.story.js
  packages/components/src/primer/Dropdown/__tests__/Dropdown.int.test.js
  packages/components/src/primer/Dropdown/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --syntax=scss --fix, prettier --write "packages/components/src/**/**/*.scss"

add components primer form
  packages/components/src/primer/Form/Checkbox/Checkbox.jsx
  packages/components/src/primer/Form/Checkbox/Checkbox.md
  packages/components/src/primer/Form/Checkbox/Checkbox.prop.js
  packages/components/src/primer/Form/Checkbox/__tests__/Checkbox.int.render.js
  packages/components/src/primer/Form/Checkbox/__tests__/Checkbox.int.story.js
  packages/components/src/primer/Form/Checkbox/__tests__/Checkbox.int.test.js
  packages/components/src/primer/Form/Checkbox/index.js
  packages/components/src/primer/Form/Form.scss
  packages/components/src/primer/Form/Input/Input.jsx
  packages/components/src/primer/Form/Input/Input.md
  packages/components/src/primer/Form/Input/Input.prop.js
  packages/components/src/primer/Form/Input/Input.scss
  packages/components/src/primer/Form/Input/__tests__/Input.int.render.js
  packages/components/src/primer/Form/Input/__tests__/Input.int.story.js
  packages/components/src/primer/Form/Input/__tests__/Input.int.test.js
  packages/components/src/primer/Form/Input/index.js
  packages/components/src/primer/Form/Radio/Radio.jsx
  packages/components/src/primer/Form/Radio/Radio.md
  packages/components/src/primer/Form/Radio/Radio.prop.js
  packages/components/src/primer/Form/Radio/__tests__/Radio.int.render.js
  packages/components/src/primer/Form/Radio/__tests__/Radio.int.story.js
  packages/components/src/primer/Form/Radio/__tests__/Radio.int.test.js
  packages/components/src/primer/Form/Radio/index.js
  packages/components/src/primer/Form/form-control.scss
  packages/components/src/primer/Form/form-group.scss
  packages/components/src/primer/Form/form-select.scss
  packages/components/src/primer/Form/form-validation.scss
  packages/components/src/primer/Form/index.js
  packages/components/src/primer/Form/input-group.scss
  packages/components/src/primer/Form/radio-group.scss
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --syntax=scss --fix, prettier --write "packages/components/src/**/**/*.scss"

add components primer grid
  packages/components/src/primer/Grid/DisplayTable/DisplayTable.jsx
  packages/components/src/primer/Grid/DisplayTable/DisplayTable.md
  packages/components/src/primer/Grid/DisplayTable/DisplayTable.prop.js
  packages/components/src/primer/Grid/DisplayTable/__tests__/DisplayTable.int.data.js
  packages/components/src/primer/Grid/DisplayTable/__tests__/DisplayTable.int.render.js
  packages/components/src/primer/Grid/DisplayTable/__tests__/DisplayTable.int.story.js
  packages/components/src/primer/Grid/DisplayTable/__tests__/DisplayTable.int.test.js
  packages/components/src/primer/Grid/DisplayTable/index.js
  packages/components/src/primer/Grid/FlexGrid/FlexGrid.jsx
  packages/components/src/primer/Grid/FlexGrid/FlexGrid.md
  packages/components/src/primer/Grid/FlexGrid/FlexGrid.prop.js
  packages/components/src/primer/Grid/FlexGrid/FlexGrid.scss
  packages/components/src/primer/Grid/FlexGrid/__tests__/FlexGrid.int.data.js
  packages/components/src/primer/Grid/FlexGrid/__tests__/FlexGrid.int.render.js
  packages/components/src/primer/Grid/FlexGrid/__tests__/FlexGrid.int.story.js
  packages/components/src/primer/Grid/FlexGrid/__tests__/FlexGrid.int.test.js
  packages/components/src/primer/Grid/FlexGrid/index.js
  packages/components/src/primer/Grid/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --syntax=scss --fix, prettier --write "packages/components/src/**/**/*.scss"

add components primer icon
  packages/components/src/primer/Icon/Icon.jsx
  packages/components/src/primer/Icon/Icon.md
  packages/components/src/primer/Icon/Icon.part.js
  packages/components/src/primer/Icon/Icon.prop.js
  packages/components/src/primer/Icon/__tests__/Icon.int.render.js
  packages/components/src/primer/Icon/__tests__/Icon.int.story.js
  packages/components/src/primer/Icon/__tests__/Icon.int.test.js
  packages/components/src/primer/Icon/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

add components primer label
  packages/components/src/primer/Label/Label.jsx
  packages/components/src/primer/Label/Label.md
  packages/components/src/primer/Label/Label.prop.js
  packages/components/src/primer/Label/__tests__/Label.int.render.js
  packages/components/src/primer/Label/__tests__/Label.int.story.js
  packages/components/src/primer/Label/__tests__/Label.int.test.js
  packages/components/src/primer/Label/counters.scss
  packages/components/src/primer/Label/diffstat.scss
  packages/components/src/primer/Label/index.js
  packages/components/src/primer/Label/issue-labels.scss
  packages/components/src/primer/Label/labels.scss
  packages/components/src/primer/Label/mixins.scss
  packages/components/src/primer/Label/states.scss
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --syntax=scss --fix, prettier --write "packages/components/src/**/**/*.scss"

add components primer layout
  packages/components/src/primer/Layout/container.scss
  packages/components/src/primer/Layout/grid-offset.scss
  packages/components/src/primer/Layout/grid.scss
Due: stylelint "packages/components/src/**/**/*.scss" --syntax=scss --fix, prettier --write "packages/components/src/**/**/*.scss"

add components primer loader
  packages/components/src/primer/Loader/Loader.jsx
  packages/components/src/primer/Loader/Loader.md
  packages/components/src/primer/Loader/Loader.prop.js
  packages/components/src/primer/Loader/Loader.scss
  packages/components/src/primer/Loader/__tests__/Loader.int.render.js
  packages/components/src/primer/Loader/__tests__/Loader.int.story.js
  packages/components/src/primer/Loader/__tests__/Loader.int.test.js
  packages/components/src/primer/Loader/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --syntax=scss --fix, prettier --write "packages/components/src/**/**/*.scss"

add components primer navigation
  packages/components/src/primer/Navigation/Menu/Menu.jsx
  packages/components/src/primer/Navigation/Menu/Menu.md
  packages/components/src/primer/Navigation/Menu/Menu.prop.js
  packages/components/src/primer/Navigation/Menu/Menu.scss
  packages/components/src/primer/Navigation/Menu/__tests__/Menu.int.render.js
  packages/components/src/primer/Navigation/Menu/__tests__/Menu.int.story.js
  packages/components/src/primer/Navigation/Menu/__tests__/Menu.int.test.js
  packages/components/src/primer/Navigation/Menu/index.js
  packages/components/src/primer/Navigation/TabNav/TabNav.jsx
  packages/components/src/primer/Navigation/TabNav/TabNav.md
  packages/components/src/primer/Navigation/TabNav/TabNav.prop.js
  packages/components/src/primer/Navigation/TabNav/TabNav.scss
  packages/components/src/primer/Navigation/TabNav/__tests__/TabNav.int.render.js
  packages/components/src/primer/Navigation/TabNav/__tests__/TabNav.int.story.js
  packages/components/src/primer/Navigation/TabNav/__tests__/TabNav.int.test.js
  packages/components/src/primer/Navigation/TabNav/index.js
  packages/components/src/primer/Navigation/UnderlineNav/UnderlineNav.jsx
  packages/components/src/primer/Navigation/UnderlineNav/UnderlineNav.md
  packages/components/src/primer/Navigation/UnderlineNav/UnderlineNav.prop.js
  packages/components/src/primer/Navigation/UnderlineNav/UnderlineNav.scss
  packages/components/src/primer/Navigation/UnderlineNav/__tests__/UnderlineNav.int.render.js
  packages/components/src/primer/Navigation/UnderlineNav/__tests__/UnderlineNav.int.story.js
  packages/components/src/primer/Navigation/UnderlineNav/__tests__/UnderlineNav.int.test.js
  packages/components/src/primer/Navigation/UnderlineNav/index.js
  packages/components/src/primer/Navigation/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --syntax=scss --fix, prettier --write "packages/components/src/**/**/*.scss"

add components primer pagination
  packages/components/src/primer/Pagination/PreviousNext/PreviousNext.jsx
  packages/components/src/primer/Pagination/PreviousNext/PreviousNext.md
  packages/components/src/primer/Pagination/PreviousNext/PreviousNext.prop.js
  packages/components/src/primer/Pagination/PreviousNext/PreviousNext.scss
  packages/components/src/primer/Pagination/PreviousNext/__tests__/PreviousNext.int.render.js
  packages/components/src/primer/Pagination/PreviousNext/__tests__/PreviousNext.int.story.js
  packages/components/src/primer/Pagination/PreviousNext/__tests__/PreviousNext.int.test.js
  packages/components/src/primer/Pagination/PreviousNext/index.js
  packages/components/src/primer/Pagination/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --syntax=scss --fix, prettier --write "packages/components/src/**/**/*.scss"

add components primer popover
  packages/components/src/primer/Popover/Popover.jsx
  packages/components/src/primer/Popover/Popover.md
  packages/components/src/primer/Popover/Popover.prop.js
  packages/components/src/primer/Popover/Popover.scss
  packages/components/src/primer/Popover/__tests__/Popover.int.render.js
  packages/components/src/primer/Popover/__tests__/Popover.int.story.js
  packages/components/src/primer/Popover/__tests__/Popover.int.test.js
  packages/components/src/primer/Popover/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --syntax=scss --fix, prettier --write "packages/components/src/**/**/*.scss"

add components primer progress
  packages/components/src/primer/Progress/Progress.jsx
  packages/components/src/primer/Progress/Progress.md
  packages/components/src/primer/Progress/Progress.prop.js
  packages/components/src/primer/Progress/Progress.scss
  packages/components/src/primer/Progress/__tests__/Progress.int.render.js
  packages/components/src/primer/Progress/__tests__/Progress.int.story.js
  packages/components/src/primer/Progress/__tests__/Progress.int.test.js
  packages/components/src/primer/Progress/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --syntax=scss --fix, prettier --write "packages/components/src/**/**/*.scss"

add components primer select menu
  packages/components/src/primer/SelectMenu/SelectMenu.jsx
  packages/components/src/primer/SelectMenu/SelectMenu.md
  packages/components/src/primer/SelectMenu/SelectMenu.prop.js
  packages/components/src/primer/SelectMenu/SelectMenu.scss
  packages/components/src/primer/SelectMenu/__tests__/SelectMenu.int.render.js
  packages/components/src/primer/SelectMenu/__tests__/SelectMenu.int.story.js
  packages/components/src/primer/SelectMenu/__tests__/SelectMenu.int.test.js
  packages/components/src/primer/SelectMenu/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --syntax=scss --fix, prettier --write "packages/components/src/**/**/*.scss"

add components primer subhead
  packages/components/src/primer/Subhead/Subhead.jsx
  packages/components/src/primer/Subhead/Subhead.md
  packages/components/src/primer/Subhead/Subhead.prop.js
  packages/components/src/primer/Subhead/Subhead.scss
  packages/components/src/primer/Subhead/__tests__/Subhead.int.render.js
  packages/components/src/primer/Subhead/__tests__/Subhead.int.story.js
  packages/components/src/primer/Subhead/__tests__/Subhead.int.test.js
  packages/components/src/primer/Subhead/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --syntax=scss --fix, prettier --write "packages/components/src/**/**/*.scss"

Path conditions:
  eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix: any of: packages/components/src/**/*.{js,jsx}
  prettier --write "packages/components/src/**/**/*.{js,jsx}": any of: packages/components/src/**/*.{js,jsx}
  stylelint "packages/components/src/**/**/*.scss" --syntax=scss --fix: any of: packages/components/src/**/*.scss
  prettier --write "packages/components/src/**/**/*.scss": any of: packages/components/src/**/*.scss
