Repository papillonads/papillonads: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --syntax=scss --fix, prettier --write "packages/components/src/**/**/*.scss"

remove spaces
  README.md
Due: none

align strip ids with readme
  packages/components/src/concept/Concepts/Concepts.part.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

update docs readme
  packages/docs/README.md
Due: none

add components bumpstack
  packages/components/bumpstack.sh
Due: none

implement Select
  packages/components/src/primer/Select/Select.jsx
  packages/components/src/primer/Select/Select.prop.js
  packages/components/src/primer/Select/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

style Select
  packages/components/src/primer/Select/Select.scss
Due: stylelint "packages/components/src/**/**/*.scss" --syntax=scss --fix, prettier --write "packages/components/src/**/**/*.scss"

document Select
  packages/components/src/primer/Select/Select.md
Due: none

test Select
  packages/components/src/primer/Select/__tests__/Select.int.story.js
  packages/components/src/primer/Select/__tests__/Select.int.test.js
  packages/components/src/primer/Select/__tests__/__snapshots__/Select.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

extend primer index with Select
  packages/components/src/primer/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

extend Button props with id
  packages/components/src/primer/Button/Button.jsx
  packages/components/src/primer/Button/Button.prop.js
  packages/components/src/primer/Button/__tests__/__snapshots__/Button.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

align Dropdown test descriptions with variant names
  packages/components/src/primer/Dropdown/Dropdown.md
  packages/components/src/primer/Dropdown/__tests__/Dropdown.int.test.js
  packages/components/src/primer/Dropdown/__tests__/__snapshots__/Dropdown.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

extend Input props with id
  packages/components/src/primer/Form/Input/Input.jsx
  packages/components/src/primer/Form/Input/Input.prop.js
  packages/components/src/primer/Form/Input/__tests__/__snapshots__/Input.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

update Alert snapshots
  packages/components/src/primer/Alert/__tests__/__snapshots__/Alert.int.test.js.snap
Due: none

update Popover snapshots
  packages/components/src/primer/Popover/__tests__/__snapshots__/Popover.int.test.js.snap
Due: none

reset jest thresholds
  jest.config.js
Due: none

v1.10.3
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/docs/package-lock.json
  packages/docs/package.json
  packages/library/package-lock.json
  packages/library/package.json
  packages/styleguide/package-lock.json
  packages/styleguide/package.json
Due: none

Select render selected
  packages/components/src/primer/Select/Select.jsx
  packages/components/src/primer/Select/__tests__/__snapshots__/Select.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

v1.11.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
Due: none

npm update papillonads
  package-lock.json
  package.json
Due: none

npm update papillonads components
  packages/components/package-lock.json
Due: none

extend getItemsDefaultSelected() return
  packages/library/src/array/index.js
Due: none

v1.11.1
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/library/package-lock.json
  packages/library/package.json
Due: none

Button extend inactive attributes
  packages/components/src/primer/Button/Button.jsx
  packages/components/src/primer/Button/__tests__/__snapshots__/Button.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

v1.11.2
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
Due: none

npm update papillonads
  package-lock.json
  package.json
  packages/docs/package-lock.json
  packages/styleguide/package-lock.json
Due: none

bump stack papillonads
  package-lock.json
  packages/docs/package-lock.json
  packages/styleguide/package-lock.json
Due: none

add .jest-test-results.json
  .eslintignore
  .gitignore
  .jest-test-results.json
  .prettierignore
  .stylelintignore
Due: none

bump stack papillonads
  .jest-test-results.json
  package-lock.json
Due: none

bump stack papillon ads
  .jest-test-results.json
  package-lock.json
  package.json
Due: none

bump stack papillonads
  .jest-test-results.json
  package-lock.json
  package.json
Due: none

bump stack papillonads
  .jest-test-results.json
  package-lock.json
  package.json
  packages/docs/package-lock.json
  packages/styleguide/package-lock.json
Due: none

enable react jsx transform
  .eslintrc
  babel.config.js
  bumpstack.sh
  package.json
Due: none

Path conditions:
  eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix: any of: packages/components/src/**/*.{js,jsx}
  prettier --write "packages/components/src/**/**/*.{js,jsx}": any of: packages/components/src/**/*.{js,jsx}
  stylelint "packages/components/src/**/**/*.scss" --syntax=scss --fix: any of: packages/components/src/**/*.scss
  prettier --write "packages/components/src/**/**/*.scss": any of: packages/components/src/**/*.scss
