Repository papillonads/papillonads: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --syntax=scss --fix, prettier --write "packages/components/src/**/**/*.scss"

implement Concept Runtime documentation component
  packages/components/src/primer/Concept/Runtime/Runtime.jsx
  packages/components/src/primer/Concept/Runtime/__tests__/__snapshots__/Runtime.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

implement Testing SpecificationsStandardsGuidelines Unit Testing
  packages/components/src/primer/Concept/Testing/Testing.jsx
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

implement Testing SpecificationsStandardsGuidelines Integration Testing
  packages/components/src/primer/Concept/Testing/Testing.jsx
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

remove space
  README.md
Due: none

implement Testing OpenSourceDependencyProjects
  packages/components/src/primer/Concept/Testing/Testing.jsx
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

align emoji
  README.md
Due: none

implement Testing rest
  packages/components/src/primer/Concept/Testing/Testing.jsx
  packages/components/src/primer/Concept/Testing/__tests__/__snapshots__/Testing.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

add missing carriage return
  README.md
Due: none

implement VersionControl SpecificationsStandardsGuidelines
  packages/components/src/primer/Concept/VersionControl/VersionControl.jsx
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

implement VersionControl OpenSourceDependencyProjects
  packages/components/src/primer/Concept/VersionControl/VersionControl.jsx
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

align nesting
  README.md
Due: none

implement VersionControl rest
  packages/components/src/primer/Concept/VersionControl/VersionControl.jsx
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

add VersionControl snapshot
  packages/components/src/primer/Concept/VersionControl/__tests__/__snapshots__/VersionControl.int.test.js.snap
Due: none

escape apos
  packages/components/src/primer/Concept/Language/Language.jsx
  packages/components/src/primer/Concept/Testing/Testing.jsx
  packages/components/src/primer/Concept/VersionControl/VersionControl.jsx
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

v1.8.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/docs/package-lock.json
  packages/docs/package.json
  packages/styleguide/package-lock.json
  packages/styleguide/package.json
Due: none

npm update
  package-lock.json
  package.json
Due: none

render ContinuousIntegration documentation component
  packages/docs/src/pattern/template/ConceptTemplate/ContinuousIntegrationTemplate/ContinuousIntegrationTemplate.MainContent.jsx
Due: none

render CrossBrowserCompatibility documentation component
  packages/docs/src/pattern/template/ConceptTemplate/CrossBrowserCompatibilityTemplate/CrossBrowserCompatibilityTemplate.MainContent.jsx
Due: none

render CSSArchitecture documentation component
  packages/docs/src/pattern/template/ConceptTemplate/CSSArchitectureTemplate/CSSArchitectureTemplate.MainContent.jsx
Due: none

render Language documentation component
  packages/docs/src/pattern/template/ConceptTemplate/LanguageTemplate/LanguageTemplate.MainContent.jsx
Due: none

render LocalDevelopment documentation component
  packages/docs/src/pattern/template/ConceptTemplate/LocalDevelopmentTemplate/LocalDevelopmentTemplate.MainContent.jsx
Due: none

render Runtime documentation component
  packages/docs/src/pattern/template/ConceptTemplate/RuntimeTemplate/RuntimeTemplate.MainContent.jsx
Due: none

render Testing documentation component
  packages/docs/src/pattern/template/ConceptTemplate/TestingTemplate/TestingTemplate.MainContent.jsx
Due: none

render VersionControl documentation component
  packages/docs/src/pattern/template/ConceptTemplate/VersionControlTemplate/VersionControlTemplate.MainContent.jsx
Due: none

Updates
  iframe.html
  main.74d447d6f379f2833db1.bundle.js
  main.74d447d6f379f2833db1.bundle.js.map
  main.c6dbd84c659be0d7961d.bundle.js
  main.c6dbd84c659be0d7961d.bundle.js.map
  runtime~main.74d447d6f379f2833db1.bundle.js
  runtime~main.74d447d6f379f2833db1.bundle.js.map
  runtime~main.c6dbd84c659be0d7961d.bundle.js.map
  vendors~main.74d447d6f379f2833db1.bundle.js
  vendors~main.74d447d6f379f2833db1.bundle.js.LICENSE.txt
  vendors~main.74d447d6f379f2833db1.bundle.js.map
  vendors~main.c6dbd84c659be0d7961d.bundle.js
  vendors~main.c6dbd84c659be0d7961d.bundle.js.map
Due: none

npx sb upgrade
  package-lock.json
  package.json
Due: none

npm update
  package-lock.json
  package.json
  packages/docs/package-lock.json
  packages/styleguide/package-lock.json
Due: none

npm update papillonads
  package-lock.json
  package.json
Due: none

npm update papillonads docs
  packages/docs/package-lock.json
Due: none

npm update papillonads styleguide
  packages/styleguide/package-lock.json
Due: none

lint style
  packages/components/src/content/IconButton/IconButton.scss
  packages/components/src/content/TextLink/TextLink.scss
  packages/components/src/primer/BranchName/branch-name.scss
  packages/components/src/primer/Button/Button.scss
  packages/components/src/primer/Form/form-group.scss
Due: stylelint "packages/components/src/**/**/*.scss" --syntax=scss --fix, prettier --write "packages/components/src/**/**/*.scss"

apply postcss-loader v4.0.0 breaking changes
  .storybook/webpack.config.js
  packages/docs/webpack.dev.js
  packages/docs/webpack.prod.js
  packages/styleguide/webpack.dev.js
  packages/styleguide/webpack.prod.js
Due: none

npm update papilloads
  package-lock.json
  package.json
Due: none

add update package scripts
  packages/docs/update-packages.sh
  packages/styleguide/update-packages.sh
  update-packages.sh
Due: none

Path conditions:
  eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix: any of: packages/components/src/**/*.{js,jsx}
  prettier --write "packages/components/src/**/**/*.{js,jsx}": any of: packages/components/src/**/*.{js,jsx}
  stylelint "packages/components/src/**/**/*.scss" --syntax=scss --fix: any of: packages/components/src/**/*.scss
  prettier --write "packages/components/src/**/**/*.scss": any of: packages/components/src/**/*.scss
